# Renombra este archivo a .env para desarrollo local y completa los valores.
# Estas variables son leídas por 'scripts/generate-config.js'.

LUXUS_CONTACT_EMAIL_B64="aW5mb0BsdXh1c2NvbnN1bHRvcmVzLmNvbQ=="
LUXUS_FORMSPREE_ID="mojbejqq"
LUXUS_GA_ID="G-J6RXLNGEQV"
LUXUS_SANITY_PROJECT_ID="0otvx84b"
LUXUS_SANITY_DATASET="production"